In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
oil = pd.read_csv("oil.csv")
holidays_events = pd.read_csv("holidays_events.csv")
stores = pd.read_csv("stores.csv")
transactions = pd.read_csv("transactions.csv")

In [59]:

oil = oil.fillna(method='bfill')
train['date'] = pd.to_datetime(train['date'])
test['date'] = pd.to_datetime(test['date'])
holidays_events['date'] = pd.to_datetime(holidays_events['date'])
oil['date'] = pd.to_datetime(oil.date)

oil

           date  dcoilwtico
0    2013-01-01       93.14
1    2013-01-02       93.14
2    2013-01-03       92.97
3    2013-01-04       93.12
4    2013-01-07       93.20
...         ...         ...
1213 2017-08-25       47.65
1214 2017-08-28       46.40
1215 2017-08-29       46.46
1216 2017-08-30       45.96
1217 2017-08-31       47.26

[1218 rows x 2 columns]

In [73]:
def isNearEarthquake(row):
    if row.month == 4 and row.year == 2016 and row.day >= 16: 
        print(1)
        return 1
    else:
        return 0

In [83]:
df = train.copy()
df = pd.merge(train, stores, how='inner', on=['store_nbr', 'store_nbr'])
df = pd.merge(df, oil, how='left', on=['date', 'date'])
df['day'] = df.date.dt.day
df['month'] = df.date.dt.month
df['year'] = df.date.dt.year
df['quarter'] = df.date.dt.quarter
df['dcoilwtico'] = df['dcoilwtico'].interpolate()
df['nearEarthquake'] = df['date'].apply(lambda row: 1 if row.month == 4 and row.year == 2016 and row.day >= 16 else 0)

In [84]:
df['Holiday'] = df['date'].apply(lambda x: 1 if x in holidays_events.date and holidays_events['type'] in ['Holiday', 'Transfer', 'Additional'] else 0)